<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--要处理的csv文件所在目录-->
		<add key="source" value="src\"/>
		<!--处理完成的csv文件位置-->
		<add key="result" value="target\result.csv"/>
		<!--文件间用于做唯一值对应的列-->
		<add key="id_key" value="id"/>
		<!--根据文件内容确定参照文件时，参与计算的列-->
		<add key="ref_column" value="date"/>
		<!--根据文件内容确定参照文件时，参与计算的单元格格式，支持date，int-->
		<add key="ref_type" value="date"/>
		<!--参与计算的单元格格式为date时，转换日期类型的表达式-->
		<add key="date_pattern" value="%yyyy年%mm月"/>
		<!--可用模式:
		    content: 按照文件内容确定参照文件，使用此模式时必须指定ref_location与ref_type
			name: 按照文件名确定参照文件
			create: 按照文件创建时间确定参照文件
			static: 手动指定参照文件，使用此模式时必须指定ref_file
		-->
		<add key="merge_mode" value="static"/>
		<!--(模式非static时)是否取参照文件计算顺序的第一个文件，若否则取最后一个文件-->
		<add key="is_first" value="true"/>
		<!--手动指定参照文件的文件名-->
		<add key="ref_file" value=""/>
		<!--手动指定不参与计算的列，该列在结果中将取参照文件-->
		<add key="text_column" value="m4.csv"/>
	</appSettings>
</configuration>